<p><a href="http://edupa.org/?p=4904">高校数学標準講義</a>の動画を<a href="https://apps.apple.com/jp/app/vlc-for-mobile/id650377962">iOSのVLC</a>で開くためのリンク集です。</p>

<ul>
  <%- courses.each do |course| -%>
    <li>
      <%=h course.title %> (<%=h hms(course.duration) %>)
      <ol>
        <%- course.chapters.each do |chapter| -%>
          <li><a href="<%=h "#{chapter.slug}.html" %>"><%=h chapter.title %></a> (<%=h hms(chapter.duration) %>)</li>
        <%- end -%>
      </ol>
    </li>
  <%- end -%>
</ul>

<p><a href="https://github.com/healthypackrat/edupa-math-vlc">リポジトリに戻る</a></p>
